.git
.gitignore
.github
.pre-commit-config.yaml
.env
.env.*
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
.ruff_cache
.mypy_cache
.pytype
htmlcov
.coverage
coverage.xml
.pytest_cache
docs/
postman/
scripts/*
!scripts/run_gunicorn.sh
!scripts/run_migrations.sh
tests/
*.md
!README.md
docker-compose*.yml
Makefile
